<div class="col-md-12 mt-3" *ngIf="identity">
  <h1>{{ page_title }}</h1>
  <hr />

  <div class="card-columns">
    <article class="card w-100" *ngFor="let video of videos">
      <div class="card-header">
        {{ video.title }}
      </div>
      <div class="card-body">
        <!--Miniatura-->
        <div class="video-image w-100" *ngIf="video.url">
          <img src="{{ getThumb(video.url) }}" class="w-100" />
        </div>
        <div class="video-image w-100" *ngIf="!video.url">
          <img src="../../../assets/images/no-video.jpg" class="w-100" />
        </div>
        <!--Botones-->
        <div class="video-buttons mt-3">
          <a [routerLink]="['/video', video.id]" class="btn btn-success mr-2"
            >Leer</a
          >
          <a
            [routerLink]="['/editar-favorito', video.id]"
            class="btn btn-warning mr-2"
            >Editar</a
          >
          <!-- Button to Open the Modal -->
          <button
            type="button"
            class="btn btn-danger"
            data-toggle="modal"
            [attr.data-target]="'#borrar' + video.id"
          >
            Borrar
          </button>

          <!-- Modales -->
          <!----------------------------------------------------------------------------------------------------------------------------------->
          <!----------------------------------------------------------------------------------------------------------------------------------->
          <!----------------------------------------------------------------------------------------------------------------------------------->

          <!-- The Modal -->
          <div class="modal" id="{{ 'borrar' + video.id }}">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title">
                    ¿Seguro que quieres borrar este video?
                  </h4>
                  <button type="button" class="close" data-dismiss="modal">
                    &times;
                  </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                  Vas a borrar para siempre el video: {{ video.title }}
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-warning"
                    data-dismiss="modal"
                  >
                    Cancelar
                  </button>
                  <a
                    (click)="deleteVideo(video.id)"
                    class="btn btn-danger"
                    data-dismiss="modal"
                    >Borrar</a
                  >
                </div>
              </div>
            </div>
          </div>

          <!----------------------------------------------------------------------------------------------------------------------------------->
          <!----------------------------------------------------------------------------------------------------------------------------------->
          <!----------------------------------------------------------------------------------------------------------------------------------->
        </div>
      </div>
    </article>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" [routerLink]="['/inicio', prev_page]">Anterior</a>
      </li>
      <li class="page-item" *ngFor="let num of number_pages">
        <a class="page-link" [routerLink]="['/inicio', num]">{{ num }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" [routerLink]="['/inicio', next_page]">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<div class="col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a Favovideos</h1>
    <p class="lead">
      Regístrate en la web para guardar tus videos favoritos de Youtube y poder
      verlos cuando quieras.
    </p>
    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button"
        >Identifícate</a
      >
      <a
        class="btn btn-success btn-lg ml-4"
        [routerLink]="['/register']"
        role="button"
        >Regístrate</a
      >
    </p>
  </div>
</div>
