<div class="col-md-12 mt-3" *ngIf="identity">
  <h1>{{ page_title }}</h1>
  <hr />
</div>

<div class="col-md-12 mt-3" *ngIf="!identity">
  <div class="jumbotron">
    <h1 class="display-4">Bienvenido a Favovideos</h1>
    <p class="lead">
      Regístrate en la web para guardar tus videos favoritos de Youtube y poder verlos cuando quieras.
    </p>
    <hr class="my-4" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Identifícate</a>
      <a class="btn btn-success btn-lg ml-4" [routerLink]="['/register']" role="button">Regístrate</a>
    </p>
  </div>
</div>
